* {
	text-align: center;
	background-color: #fff6ef;
	color: #4f4f4f;
	font-family: "Cedarville Cursive", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
}

.linkbut:hover {
	cursor: pointer;
}

.linkbut {
	padding: 5px;
	margin: 5px;
}

.fcontainer {
	display: flex;
	flex-flow: wrap;

}

.fcontainer>div {
	margin: auto;
}

.ii {
	width: 50vw;
	border-radius: 10px;
}

hr {
	width: 30%;
}
